/* section.item{
    display: flex;
    justify-content: space-between;
}
.dialog.modal .modal--content{
    background-color: rgb(3, 15, 15);
}  */
dialog.modal .item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 30px;
    padding: 10px;
}
dialog.modal .img{
    display: flex;
    width: 50px;
}
dialog.modal .item-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

dialog.modal .item-content h5{
    text-overflow: ellipsis;
    overflow: hidden;
}

.total{
    display: flex;
    justify-content: right;
    align-items: center;
    margin-left: 1rem;
}
